Makers Air B'n'G
<br>
<%if @username%>
  Hi, <%= @username %>!<br>
  <a href="./sign_out">Sign out</a>
<% else %>
  <a href="./sign_in">Sign in</a>
  <br>
  <a href="./sign_up">Sign up</a>

<% end %>



