Makers Air B'n'G
<br>
<%if @username%>
  Hi, <%= @username %>!<br>
  <a href="./sign-out">Sign out</a>
  <br>
  <a href="./requests">Requests</a>
<% else %>
  <a href="./sign-in">Sign in</a>
  <br>
  <a href="./sign-up">Sign up</a>
<% end %>



