Makers Air B'n'G
<br>
<%if @user%>
  Hi, <%= @user.name %>!<br>
  <a href="/sign-out">Sign out</a>
  <br>
  <a href="/list-a-space">List a space</a>
  <br>
  <a href="/requests">Requests</a>
<% else %>
  <a href="/sign-in">Sign in</a>
  <br>
  <a href="/sign-up">Sign up</a>
<% end %>
<br>
<a href="/spaces">Spaces</a>
