<h3>Property viewer</h3>
<a href="/">Home</a>

<div>

  <img src="/img/test_image.jpg" alt="Image of a boat" id="image">
  <p>Description:</p>
  <p>Price:</p>

  <form action="/individual-space" method="post">

    <input type="submit" value="Book now"> 

  </form>
</div>


