<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Makers Air B'n'B</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link href="style.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"> <img src="img/cover.png" height="75" width="75"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">

<%if @username%>
     <li class="nav-item">
       <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="/spaces">Spaces</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="/requests">Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sign-out">Sign out</a>
     </li>
     <li class="nav-item">
        <a class="nav-link" href="#">
            Hi, <%= @username %>!<br>
        </a>
      </li>
<% else %>
       <li class="nav-item">
       <a class="nav-link" href="/">Home</a>
      </li>

        <li class="nav-item">
          <a class="nav-link" href="/sign-up">Sign up</a>
        </li>

        <li class="nav-item">
         <a class="nav-link" href="/sign-in">Sign in</a>
       </li>

        </ul>
<% end %>
      </div>
      </nav>
    </ul>
  </div>
</nav>



<form action="/list-a-space" method="post">
  <label for="name">
    Name
    <input type="text" name="name" required>
  </label>
  <label for="from">
    Available from:
    <input type="date" name="from" required>
  </label>
  <label for="to">
    Available to:
    <input type="date" name="to" required>
  </label>
  <label for="description">
    Description:
    <input type="text" name="description" required>
  </label>
  <label for="price">
    Price:
    <input type="text" name="price" required>
  </label>
  <input type="submit" value="List space">
</form>


</body>

</html>