<form action="/list-a-space" method="post">
  <label for="name">
    Name
    <input type="text" name="name">
  </label>
  <label for="from">
    Available from:
    <input type="date" name="from">
  </label>
  <label for="to">
    Available to:
    <input type="date" name="to">
  </label>
  <label for="upload">
    Upload image
    <input type="file" name="upload">
  </label>
  <label for="description">
    Description:
    <input type="text" name="description">
  </label>
  <label for="price">
    Price:
    <input type="text" name="price">
  </label>
  <input type="submit" value="List space">
</form>