<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Makers Air B'n'B</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link href="style.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"> <img src="img/cover.png" height="75" width="75"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">

<%if @user%>
     <li class="nav-item">
       <a class="nav-link" href="/spaces">Spaces</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="/requests">Requests</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="/list-a-space">List a space</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sign-out">Sign out</a>
     </li>
     <li class="nav-item">
        <a class="nav-link" href="#">
            Hi, <%= @user.name %>!<br>
        </a>
      </li>
      
  <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        </ul>
    <% end %>
      </div>
      </nav>
    </ul>
  </div>
</nav>

<form action="/sign-up" method="post">
  <label for="name">
    Name
    <input type="text" name="name">
  </label><br>
  <label for="email">
    Email
    <input type="text" name="email">
  </label><br>
  <label for="password">
    Password
    <input type="password" name="password">
  </label><br>
  <label for="confirm_password">
    Confirm Password
    <input type="password" name="confirm_password">
  </label><br>
  <input type="submit" value="Submit">
</form>

<%= @password_error %>
<br>
Already registered? <a href="/sign-in">Sign In</a>

</body>

</html>

