<a href="/">List a space</a>

<form action="/spaces" method="post">

<label for="from">Available from: 
<input type="date" name="from"> 
</label>

<label for="to">Available to: 
<input type="date" name="to"> 
</label>

<input type="submit" value="List Spaces"> 
</form>

<ul>
  <li>Test space</li>
  <li>Test space</li>
  <li>Test space</li>
  <li>Test space</li>
  <li>Test space</li>
  <li>Test space</li>
  <li>Test space</li>
  <li>Test space</li>
</ul>
