<a href="/list-a-space">List a space</a>

<form action="/spaces" method="post">

<label for="from">Night to stay 
  <input type="date" name="night" required> 
</label>

<input type="submit" value="List Spaces"> 
</form>
<ul>
<%if @result%>
  <% @result.each do |k|%>
    <li>Name: <%= "#{k.name}" %></li>
    <li>Description: <%= "#{k.description}" %></li>
    <li>Price: <%= "#{k.price}" %></li>
    <br>
  <%end%>
<%end%>
<ul>
